#version=RHEL8
ignoredisk --only-use=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel
# Use graphical install
graphical
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=localhost.localdomain
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
# Root password
rootpw --iscrypted $6$bsayyKzyaTw421pn$4TMYRAINfIzoDXSU7mIq5xshTLvhS1bOE6util5bKh7g/goUf3HL1btUDxIriXWhfLIOuvPluYvwcqYSxwLnJ.
# X Window System configuration information
xconfig  --startxonboot
# Run the Setup Agent on first boot
firstboot --enable
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
user --groups=wheel --name=prateek --password=$6$qC3K0b9Ojqihx.y0$K1qEYELVmKQL5VmHY2XV./jUODyMkNZ.7XzBnxiRmLhbe46oTg9I5Wb1mRdyWTzQAuiHWKoB6cN384JTcdqnb/ --iscrypted --gecos="prateek"

%packages
@^graphical-server-environment
@development
@file-server
@ftp-server
@guest-agents
@network-file-system-client
@network-server
@rpm-development-tools
@system-tools
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
